<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <filter>
    <display-name>DemoFilter</display-name>
    <filter-name>DemoFilter</filter-name>
    <filter-class>DemoClass.java.DemoFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DemoFilter</filter-name>
    <url-pattern>/DemoFilter</url-pattern>
  </filter-mapping>
  <display-name>DemoJspDb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DemoClass</servlet-name>
    <servlet-class>DemoClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoClass</servlet-name>
    <url-pattern>/demoservlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Demo</display-name>
    <filter-name>Demo</filter-name>
    <filter-class>Demo</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Demo</filter-name>
    <url-pattern>/Demo</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>Demofilter</display-name>
    <filter-name>Demofilter</filter-name>
    <filter-class>Demofilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Demofilter</filter-name>
    <url-pattern>/Demofilter</url-pattern>
  </filter-mapping>
</web-app>